/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    /* background-color: antiquewhite; */
    margin: 8px;
}

.left{
    display: flex;
    align-items: center;
    gap: 50px;
}

.title{
    color: blueviolet;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: gray;
    font-weight: 600;
}

.right{
    display: flex;
    gap: 10px;
    align-items: center;
}

button{
    all: unset;
}

.login{
    color: gray;
    font-weight: 600;
    transition: background-color 0.5s ease-in-out;
    padding: 8px;
}

.login:hover{
    background-color: blueviolet;
    color: white;
    padding: 8px;
    border-radius: 4px;
}

.follow{
    background-color: blueviolet;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    padding: 8px;    
    transition: background-color 0.5s ease-in-out;
}

.follow:hover{
    background-color: white;
    color: gray;
}

/* Landing / Isi Page */
.landing{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.text{
    width: 40%;
    /* background-color: antiquewhite; */
    padding: 20px;
}

.read{
    background-color: blueviolet;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    padding: 8px;    
    transition: background-color 0.5s ease-in-out;
}

.join{
    color: gray;
    border: 1px solid blueviolet;
    border-radius: 4px;
    padding: 8px;
    font-weight: 600;
}

.image{
    width: 300px;
    height: 300px;
    background-color: pink;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 20px;
}

.img_men{
    animation: pop 3s;
    animation-iteration-count: 2;
}

@keyframes pop{
    0%{
        transform: scale(0);
    }
    
    100%{
        transform: scale(1);
    }
}

/* Animation Gear*/
.gear{
    animation: move 1s infinite alternate;

}

.img_gear{
    width: 10%;
    height: auto;
    animation: rotate 1s infinite alternate;
}

@keyframes move {
    0%{
        transform: translate(0%);
    }

    100%{
        transform: translate(100%);
    }
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

/* Grid */
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

.item{
    background-color: lightblue;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
}